*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #0f0f0f;
    color: #f0f0f0;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main{
    width: 100%;
    max-width: 768px;  
    margin: 0 auto;   
    display: flex;
    flex-direction: column;
}


nav{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

#profile_logo{
    height: 60px;
    border: 0.5px solid #f0f0f0;
    border-radius: 20%;
    margin-left: 1em;
}

.features{
    display: flex;
    justify-content: space-around;
    gap: 6vw;
    letter-spacing: 3px;
    font-size: 1.1em;
}

.features h4{
    border: 2px solid transparent;
}

.features h4:hover{
    border-color: #f0f0f0;

}

#darkMode{
    margin: 1em;
    size: 1em;
    padding: 0.5em;
    border: 1px solid #4d4848;
    border-radius: 100%;
}

@media (max-width: 768px){

    main{
        max-width: 100%;
    }

    #mainImage{

    }

}

#mainImage{
    border: 2px solid #f0f0f0;
    border-radius: 90%;
    margin: 1em;
}

.intro{
    font-size: xx-large;
    margin-left: 1em;
}

#about{
    /* font-family: sans-serif;
    font-size: x-large; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: large;
    margin-left: 1.5em;
    margin-top: 1.5em;
    letter-spacing: 0.5px;
    line-height: 1.5em;
}

span{
    font-weight: 800;
}

button{
    font-family: "Jersey 10", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: large;
    letter-spacing: 3px;
    padding: 1em;
    margin-left: 1.5em;
    margin-top: 1.5em;
    border-radius: 0.3em;
}

.sociaLinks{
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}