*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #0c0c0c;
    color: #f0f0f0; */
}

/* main{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

html, body{
    height: 100%;
    width: 100%;
}

main{
    /* height: 100%; */
    width: 100%;
    max-width: 768px;  
    margin: 0 auto;   
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* display: flex;
    justify-content: center; */
}


nav{
  height: 100px;
  width: 100%;
  background: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px){

    main{
        max-width: 100%;
    }

  nav{
    /* width: 100%; */
    background-color: brown;
  }
}







